<header class="l-header">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">{{'PAGE_TITLE' | translate}}</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a ui-sref="customer">Customer</a></li>
                    <li><a ui-sref="product">Product</a></li>
                    <li><a ui-sref="home">Shop</a></li>
                    <li><a ui-sref="home">Payment</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li ng-show="!logged"><a ui-sref="login">Login</a></li>
                    <li ng-show="logged">{{user.name}}</li>
                    <li ng-show="logged"><a href="#" ng-click="logout()">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

</header>
