<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <jmxConfigurator/>

    <appender name="STASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <!--<destination>logstash:5000</destination>-->
        <destination>localhost:5000</destination>
        <!-- encoder is required -->
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="STASH"/>
    </root>

    <logger name="org.springframework" level="INFO"/>
</configuration>