<section class="l-main">

    <section class="page-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-6 col-md-2">&nbsp;</div>
          <div class="col-xs-6 col-md-8">
            <div class="jumbotron">
              <h1>{{'PAGE_TITLE' | translate}}</h1>
              <p ng-show="logged">
                <b>{{user.name}}</b>
              </p>
              <pre ng-show="logged">{{user.stringify}}</pre>
            </div>
          </div>
          <div class="col-xs-6 col-md-2">&nbsp;</div>
        </div>
      </div>
    </section>

</section>
